@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    background-color: lightblue;
} */

/* https://coolors.co/palette/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8 */