.login-page * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.login-page body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #f9f4f4, #e9ecf8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.login-page .container {
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    border-radius: 120px;
}

.login-page .container button {
    background-color: #41B06E;
    color: #fff;
    padding: 10px 45px;
    border: 1px solid transparent;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 8px;
 
}

.login-page .container button.hidden {
    background-color: transparent;
    border-color: #fff;
}

.login-page .container form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.login-page .container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    width: 100%;
    outline: none;
    border-radius: 8px;
}

.login-page .sign-up,
.login-page .sign-in {
    position: absolute;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.login-page .img {
 height: 75px;
 width: 75  px;
}

.login-page .sign-in {
    
    width: 50%;
    z-index: 2;
}

.login-page .container.active .sign-in {
    transform: translateX(100%);
}

.login-page .sign-up {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}

.login-page .container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}


.login-page .toogle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 1000;
    border-radius: 120px;
    transition: all 0.6s ease-in-out;
}

.login-page .container.active .toogle-container {
    transform: translateX(-100%);
    border-radius: 120px;
}

.login-page .toogle {
    height: 100%;
    background: linear-gradient(to right, #95D777, #80CD75);
    color: #fff;
    position: relative;
    left: -100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.login-page .container.active .toogle {
    transform: translateX(50%);
}

.login-page .toogle-panel {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.login-page .toogle-left {
    transform: translateX(-200%);
}

.login-page .container.active .toogle-left {
    transform: translateX(0);
}

.login-page .toogle-right {
    right: 0;
    transform: translateX(0);
}

.login-page .container.active .toogle-right {
    transform: translateX(200%);
}